html {
  max-width: 100vw;
}
body {
  margin: 1em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: blue;
}
img {
  max-width: 100%;
  user-select: none;
}
.container {
  margin: 1em auto;
  max-width: 100%;
}
.container.full {
  width: 100%;
}
.right {
  float: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table td * {
  vertical-align: top;
}
table td p {
  margin: 0 1em;
}
table tr:not(:first-child):not(:last-child) {
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
}
