<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta name="robots" content="noindex" />
    <meta http-equiv="content-type" content="text/html" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <meta charset="UTF-8" />
    <title>{{ page.title | downcase }}</title>
    <link rel="stylesheet" href="/assets/css/basic.css" />
  </head>
  <body>
    <div class="container">{{ content }}</div>
  </body>
</html>
